@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }
}

body {
	color: #21272f;
}

img {
	max-width: 100%;
}

.app-header {
	background: #15222f;
	color: white;
	padding: 2rem;
}

.app-header h1 {
	margin-top: 0;
}

.search-label {
	font-weight: 600;
}

.search-input-container {
	display: flex;
}

.search-clear-button {
	align-self: flex-end;
	background: none;
	border: 0;
	color: white;
	display: none;
	font-size: 1rem;
	margin-left: .25rem;
	opacity: .6;
	text-decoration: underline;
}

.search-clear-button:hover {
	cursor: pointer;
	opacity: .8;
}

.search-clear-button.search-clear-button__show {
	display: block;
}

.search {
	border: 1px solid lightgrey;
	border-radius: .25rem;
	display: block;
	font-size: 1rem;
	padding: .5rem;
	margin-top: .5rem;
	width: 250px;
}

.app-main {
	background: #efefef;
	padding: 2rem;
}

.news-article.show {
  display: flex;
}

.news-article.hide {
  display: none;
}

.news-article {
	background: white;
	border-top: 1px solid #15222f;
	flex-direction: column;
	padding: 1.5rem;
}

.article-heading {
	margin-top: 0;
}

.article-heading-link {
	color: #21272f;
	text-decoration: none;
}

.article-heading-link:hover {
	color: #1061c7;
}

mark {
	background: #c5efb8;
}

.article-trail-text {
	line-height: 1.4;
	margin-bottom: .25rem;
}

.article-date {
	color: #6a6b6d;
	font-size: .8rem;
}

.article-button {
	align-self: flex-start;
	background: #daefff;
	border-radius: .25rem;
	color: #012a5f;
	padding: .25rem .5rem;
	margin-top: auto;
	text-decoration: none;
}

.article-button:hover {
	background: #bee1fb;
	color: #000d1d;
}
